/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container-1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
h2,
p {
  text-align: center;
  padding-left: 50px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

li {
  display: inline;
  text-align: center;
}

/* a {
  display: block;
  padding: 8px;
  background-color: #f2f2f2;
} */

/* a:hover {
  color: #45a049;
} */
