h1 {
  font-size: 50px;
  font-weight: 10px;
  color: blue;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.image {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* font-size: 30px; */
  background-color: rgb(90, 205, 96);
}

h2 {
  color: red;
  text-align: center;
}
